<pre>La corrijo, tambien me gustaba mucho esta serie.

Intro:
<em>e--7------------7-----------7-----------7---------</em>
<em>B----7--------7---7-------7---7-------7---7-------</em>
<em>G------9----9-------9---9-------9---9-------9-----   (¡Rapido!)</em>
<em>D--------9------------9-----------9-----------9---</em>

<a>E</a> - <a>D</a> - <a>C</a>   (Sigan <a>LA</a> musica de intro con esto luego del arpegio)


<a>E</a>                            <a>D</a>
El cielo resplandece a mi alrededor (alrededor)
     <a>C</a>               <a>G</a>                       <a>B7</a>
al volar destellos brillan en las nubes sin fin,
  <a>E</a>                                 <a>D</a>
con libertad puedes cruzar hoy el cielo azul (el cielo azul)
       <a>C</a>                      <a>G</a>            <a>B7</a>
la verdad huye a un golpe de pronto en tí,

<a>C#m</a>            <a>B</a>           <a>E</a>
como si un volcán hiciera una erupción,
<a>D</a>
derrite un gran glaciar,
<a>C#m</a>                             <a>B</a>
podrás ver de cerca un gran dragón.


<a>G</a>   <a>A</a>   <a>G</a>    <a>A</a>
Cha-la-head-Cha-la,
<a>D</a>     <a>G</a>     <a>A</a>       <a>F#</a>
no importa lo que suceda,
<a>Bm</a>      <a>G</a>         <a>C</a>      <a>A</a>
siempre el ánimo mantendré,
<a>G</a>   <a>A</a>    <a>G</a>   <a>A</a>
Cha-la-Head-Cha-la,
<a>D</a>  <a>G</a>     <a>A</a>       <a>F#</a>     <a>Bm</a>
vibrante mi corazón siente emoción,
          <a>A#</a>
haré una Genki-Dama,
<a>G</a>   <a>A</a>   <a>G</a>   <a>A</a>
Cha-la-Head-Cha-la,
<a>D</a>  <a>G</a>        <a>A</a>    <a>F#</a>    <a>Bm</a>      <a>G</a>             <a>C</a>      <a>A</a>
no pienses nada sólo escucha, sueños hay en tu corazón,
<a>G</a>   <a>A</a>   <a>G</a>   <a>A</a>
Cha-la-Head-Cha-la,
<a>D</a>    <a>G</a>     <a>A</a>        <a>F#</a>
no importa lo que suceda,
 <a>Bm</a>                 <a>A#</a>
sonreiré el día de hoy.

Termino:  <a>G</a> <a>E</a> <a>F</a> <a>G</a> <a>A</a> (Sigan <a>LA</a> musica)



Todos los que vean estos geniales acordes, espero que se fijen de
la maravilla en esta musica ajena a lo que tocamos siempre.</pre>